<footer class="bg-[#F0F0F0] xl:pt-[26px] xs:pt-[16px] w-full">
  <section
    class="container lg:w-[1440px] md:w-[768px] sm:w-[480px] lg:px-[100px] md:px-md xs:px-lg:pb-[70px] md:pb-[50px] sm mx-auto"
  >
    <div
      class="xl:flex xl:justify-between border-b border-mainBlack-100 xl:pb-[50px] xs:pb-[40px]"
    >
      <div style="max-width: 248px">
        <h2
          class="xl:mb-[25px] xs:mb-[14px] text-mainBlack lg:text-2xl xs:text-[28px] font-accentFont font-black leading-none"
        >
          VOODOO.CO
        </h2>
        <p
          class="xl:mb-[35px] md:w-[200px] xs:mb-[20px] xs:w-full text-mainBlack/60 text-[14px]"
        >
          We have clothes that suits your style and which you’re proud to wear.
          From women to men.
        </p>
        <ul class="flex gap-[12px]">
          <li>
            <a
              href=""
              class="flex justify-center items-center w-[28px] h-[28px] bg-mainWhite rounded-full border border-mainBlack/20 hover:bg-mainBlack transition duration-300 ease-out hover:fill-mainWhite"
              ><svg
                width="15"
                height="15"
                class="transition duration-300 ease-out xl:hover:fill-mainWhite"
              >
                <use href="./images/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              class="flex justify-center items-center w-[28px] h-[28px] bg-mainWhite rounded-full border border-mainBlack/20 hover:bg-mainBlack transition duration-300 ease-out hover:fill-mainWhite"
              ><svg
                width="15"
                height="15"
                class="transition duration-300 ease-out xl:hover:fill-mainWhite"
              >
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="">
            <a
              href=""
              class="flex justify-center items-center w-[28px] h-[28px] bg-mainWhite rounded-full border border-mainBlack/20 hover:bg-mainBlack transition duration-300 ease-out hover:fill-mainWhite"
              ><svg width="15" height="15">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              class="flex justify-center items-center w-[28px] h-[28px] bg-mainWhite rounded-full border border-mainBlack/20 hover:bg-mainBlack transition duration-300 ease-out hover:fill-mainWhite"
            >
              <svg width="15" height="15">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="xs:pt-[24px]">
        <ul
          class="flex lg:gap-[109px] md:gap-[15px] xs:justify-between xs:gap-[0px] xs:flex-wrap xs:gap-y-[42px]"
        >
          <li class="xs:w-1/2">
            <h3
              class="xl:mb-[26px] xs:mb-[16px] text-mainBlack font-medium lg:text-base md:text-[14px] xs:text-[14px] tracking-[3px] uppercase"
            >
              Company
            </h3>
            <ul>
              <li class="mb-[12px]">
                <a class="foterLinks">About</a>
              </li>
              <li class="mb-[12px]">
                <a class="foterLinks">Features</a>
              </li>
              <li class="mb-[12px]">
                <a class="foterLinks">Works</a>
              </li>
              <li>
                <a class="foterLinks">Career</a>
              </li>
            </ul>
          </li>
          <li class="xs:w-1/2">
            <h3
              class="xl:mb-[26px] xs:mb-[16px] text-mainBlack font-medium lg:text-base md:text-[14px] xs:text-[14px] tracking-[3px] uppercase"
            >
              Help
            </h3>
            <ul>
              <li class="mb-[12px]">
                <a class="foterLinks">Customer Support</a>
              </li>
              <li class="mb-[12px]">
                <a class="foterLinks">Delivery Details</a>
              </li>
              <li class="mb-[12px]">
                <a class="foterLinks">Terms & Conditions</a>
              </li>
              <li>
                <a class="foterLinks">Privacy Policy</a>
              </li>
            </ul>
          </li>
          <li class="xs:w-1/2">
            <h3
              class="xl:mb-[26px] xs:mb-[16px] text-mainBlack font-medium lg:text-base md:text-[14px] xs:text-[14px] tracking-[3px] uppercase"
            >
              FAQ
            </h3>
            <ul>
              <li class="mb-[12px]">
                <a class="foterLinks">Account</a>
              </li>
              <li class="mb-[12px]">
                <a class="foterLinks">Manage Deliveries</a>
              </li>
              <li class="mb-[12px]">
                <a class="foterLinks">Orders</a>
              </li>
              <li>
                <a class="foterLinks">Payments</a>
              </li>
            </ul>
          </li>
          <li class="xs:w-1/2">
            <h3
              class="xl:mb-[26px] xs:mb-[16px] text-mainBlack font-medium lg:text-base md:text-[14px] xs:text-[14px] tracking-[3px] uppercase"
            >
              Resources
            </h3>
            <ul>
              <li class="mb-[12px]">
                <a class="foterLinks">Free Books</a>
              </li>
              <li class="mb-[12px]">
                <a class="foterLinks">Development Tutorial</a>
              </li>
              <li class="mb-[12px]">
                <a class="foterLinks">How to - Blog</a>
              </li>
              <li>
                <a class="foterLinks">Youtube Playlist</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="lg:pb-[80px] md:pb-[60px] xs:pb-[28px] lg:pt-[25px] md:pt-[20px] xs:pt-[16px] xl:flex xl:justify-between xl:items-center xs:text-center"
    >
      <p class="text-mainBlack/60 text-[14px]">
        Shop.co © 2000-2023, All Rights Reserved
      </p>
      <ul
        class="flex lg:gap-[12px] md:gap-[10px] xs:gap=[10px] items-center xs:mt-[18px] xs:justify-center spec:flex-wrap"
      >
        <li>
          <a href=""
            ><svg class="w-[70px] h-[54px]">
              <use href="./images/symbol-defs.svg#icon-Visa"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href=""
            ><svg class="w-[70px] h-[54px]">
              <use href="./images/symbol-defs.svg#icon-Master"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href=""
            ><svg class="w-[70px] h-[54px]">
              <use href="./images/symbol-defs.svg#icon-Applepay"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href=""
            ><svg class="w-[70px] h-[54px]">
              <use href="./images/symbol-defs.svg#icon-Paypal"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href=""
            ><svg class="w-[70px] h-[54px]">
              <use href="./images/symbol-defs.svg#icon-Googlepay"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
