<div class="bg-mainBlack fixed top-0 left-0 right-0 z-10" id="alert">
  <div
    class="container relative lg:w-[1440px] md:w-[768px] sm:w-[480px] lg:px-[100px] md:px-md xs:px-sm mx-auto text-mainWhite"
  >
    <div
      class="flex justify-center items-center xl:h-[38px] xs:h-[33px] h-[55px] spec:flex-wrap relative"
    >
      <p class="xl:text-[14px] xs:text-[12px] font-medium">
        Sign up and get 20% off to your first order.
      </p>
      <a
        class="underline cursor-pointer xl:text-[14px] xs:text-[12px] font-medium"
        href=""
      >
        Sign Up Now</a
      >
      <button
        type="button"
        class="absolute right-[10px] xs:hidden"
        id="closeAlert"
      >
        <svg class="" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
